<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/ico/favicon.ico">

    <title>南京邮电大学 與情监测与预警系统</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/cover.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">NUPT與情监测与预警系统</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">欢迎 / 关于 / 功能</a></li>
                <!--<li><a href="/heat">功能</a></li>-->
                <li><a href="http://www.renren.com/408842825/profile" target="_blank">给我留言</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">欢迎您</h1>
            <p class="lead">本系统基于python, 监测南邮贴吧动态，每小时抓取3次，同时过滤得到热门话题，运用Python拟合曲线, 分析热点，预警过热话题</p>
            <p class="lead"> 主要功能：
              <p>实时数据（今日到目前抓取的数据）</p>
              <p>热点分析（用图表直观分析热点话题）</p>
              <p>预警（提取过热话题，可跳转到分析页面）</p>
              <p>搜索(输入标题关键字 ,在数据库中搜索已抓取的帖子)</p>
            <p class="lead">
              <!--按钮跳转 -->
              <a href="/signin" class="btn btn-lg btn-default">登录</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>NuptPOW cover page <!--<a href="http://getbootstrap.com">Bootstrap</a>-->, Power by <a href="http://www.renren.com/408842825/profile">@Mio</a>.</p>
              <p>&copy; 2014 NUPT POW, Edu. &middot; <a href="http://www.njupt.edu.cn",target="_blank">Nanjing University of Posts and Telecommunications</a> &middot; <a href="http://bc.njupt.edu.cn/",target="_blank">School of Management</a></p>
              <p>Copyright Nanjing University of Posts and Telecommunications, All Rights Reserved</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script> -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/docs.min.js"></script>
  </body>
</html>
