$def with(user)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="refresh" content="2;url=/signin" /> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/ico/favicon.ico">

    <title>南京邮电大学 與情监测与预警系统</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/cover.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">NUPT與情监测与预警系统</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">欢迎</a></li>
                <li><a href="/heat">功能</a></li>
                <li><a href="http://www.renren.com/408842825/profile" target="_blank">给我留言</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">对不起$user : 用户名或密码 错误 &otimes;&otimes;&otimes;</h1>
            <br>
            <p class="lead"><font size = "5">正在跳转到 &rArr; 登录页面.....</font></p>
            <p class="lead">
              <!--按钮跳转 -->
              <!--<a href="/signin" class="btn btn-lg btn-default">登录</a> -->
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>NuptPOW cover page <!--<a href="http://getbootstrap.com">Bootstrap</a>-->, Power by <a href="http://www.renren.com/408842825/profile">@Mio</a>.</p>
              <p>&copy; 2014 NUPT POW, Edu. &middot; <a href="http://www.njupt.edu.cn",target="_blank">Nanjing University of Posts and Telecommunications</a> &middot; <a href="http://bc.njupt.edu.cn/",target="_blank">School of Management</a></p>
              <p>Copyright Nanjing University of Posts and Telecommunications, All Rights Reserved</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script> -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/docs.min.js"></script>
  </body>
</html>
